body{
    background-image: url(../img/Foto1.jpg), url(../img/Foto_02.jpg);
    background-repeat: no-repeat;
    
    position: relative;
}

/*Logo*/
img{
    width: 55%;
    
    display: block;
    margin: auto;
}

/*Menu*/
nav{
    padding-left: 100px;
    padding-top: 50px;
    
    width: 200px;
    height: 100px;
    
    
    /*FlexBox*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}

div{
    width: 150px;
    height: 30px;
    
    /*FlexBox*/
    display: flex;
    justify-content: flex-end;
}

button{
    text-align: end;
    font-size: 18px;
    line-height: 24px;
    
    background: #003414;
    color: white;
    border: solid white 1px;
    border-radius: 2px;
}

button:hover{
    background: white;
    color: #003414;
}

/*Peu de pagina*/
/*footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    
    font-size: 25px;
    
    color: white;
    background-color: #003414;
    */
    /*FlexBox*/
    /*display: flex;
    align-items: center;
}*/
